
## Other ignore files

build/
./build/
build/**
./build/**
sim/devel/
sim/build/
sim/install/
sim/devel/**
sim/build/**
sim/install/**
**/install/
**/devel/
**/install/**
**/devel/**

## C++ ignore files

# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
*.smod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app


